.app {
  text-align: center;
  background-color: #15202B;
  padding-bottom: 20px;
}

.allPeepsTitle {
  color:white;
  padding-top: 20px;
}

.bird {
  display: inline;
}

.chitterTitle {
  display: inline;
  color: white;
  font-family: Helvetica;
}

.container {
  padding-bottom: 6px;
  width: 30% !important;
}

.displayPeeps{
  padding-top: 50px;
  color:black;
}

.form-label {
  color: white;
}

.name-form {
  padding-top: 20px;
}

.viewAll {
  margin-top: 50px;
}

